@model OrdersSearchOrderVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <tr>
        <td>
            MOL
        </td>
        <td>
            Order Date
        </td>
    </tr>

@foreach (var item in Model.Orders)
{
    <tr>
        <td>
            @Html.DisplayFor(i => item)
        </td>
    </tr>
}
</table>