@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Search order by ID</h2>
@using(Html.BeginForm("SearchOrder", "Orders", FormMethod.Get))
{
    @Html.TextBox("OrderID")
    <input type="submit" value="Search Order" />
}


